streamlit==1.22.0
python-dotenv==1.0.0
langchain==0.0.284
langchain_community
langchain_google_genai
google-generativeai
PyPDF2
faiss-cpu==1.7.4
firebase_admin
streamlit_option_menu
tiktoken==0.4.0
protobuf~=3.19.0
InstructorEmbedding==1.0.1
torch
sentence-transformers==2.2.0  # Ensure this version is compatible with InstructorEmbedding
huggingface_hub
